body {
  background:  rgb(138, 0, 138);
  color: rgb(255, 193, 79);
}

.header {
  text-align: center;
  color: #ffb325;
}

.advice {
  text-align: center;
}

.score {
  text-align: center;
  margin-bottom: 2rem;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.card {
  height: 22rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  border-radius: .5rem
}

.card1 {
  grid-column: 1/2;
  grid-row: 1/2;
}


.card2 {
  grid-column: 2/3;
  grid-row: 1/2;
}


.card3 {
  grid-column: 3/4;
  grid-row: 1/2;
}

.card4 {
  grid-column: 4/5;
  grid-row: 1/2;
}


.card5 {
  grid-column: 5/6;
  grid-row: 1/2;
}


.card6 {
  grid-column: 6/7;
  grid-row: 1/2;
}

.card7 {
  grid-column: 1/2;
  grid-row: 2/3;
}


.card8 {
  grid-column: 2/3;
  grid-row: 2/3;
}


.card9 {
  grid-column: 3/4;
  grid-row: 2/3;
}

.card10 {
  grid-column: 4/5;
  grid-row: 2/3;
}


.card11 {
  grid-column: 5/6;
  grid-row: 2/3;
}


.card12 {
  grid-column: 6/7;
  grid-row: 2/3;
}



